<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Update Grade</title>
</head>

<body style="font-family: inter, sans-serif;">
    <div class="container-large">
        <h1>Grade Update</h1>
        <!-- Grade Entry Form -->
        <form action="/updateGrade" method="post" style="margin-top: 2em;">
            <!-- <h2>Grade Entry</h2> -->
            <div class="container-details">
                <div class="input-container" id="custom">
                    <label for="student_id_grade">Student ID:</label>
                    <div class="custom-select">
                        <select id="student_id_grade" name="student_id_grade" required>
                            <!-- Populate dropdown options dynamically using JavaScript -->
                            <option value="" disabled selected>Select Student ID</option>
                            <!-- Split the data2 string by comma and create options -->
                            <script>
                                var data2 = '<%=data2%>';
                                var studentIDs = data2.split(',');
                                var selectElement = document.getElementById("student_id_grade");

                                for (var i = 0; i < studentIDs.length; i++) {
                                    var option = document.createElement("option");
                                    option.value = studentIDs[i];
                                    option.text = studentIDs[i];
                                    selectElement.appendChild(option);
                                }
                            </script>
                        </select>
                        <span class="custom-arrow">&#9660;</span> <!-- Custom arrow for the select -->
                    </div>
                </div>

                <style>
                    #custom {
                        width: 10em;
                    }

                    /* Style for the custom select container */
                    .custom-select {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                    }

                    /* Style for the select element */
                    .custom-select select {
                        appearance: none;
                        /* Remove default styles in some browsers */
                        -webkit-appearance: none;
                        /* Remove default styles in WebKit browsers */
                        -moz-appearance: none;
                        /* Remove default styles in Firefox */
                        width: 100%;
                        padding: 0.95em 1.3em;

                        background-color: #fff;
                        cursor: pointer;
                    }

                    /* Style for the custom arrow */
                    .custom-arrow {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        pointer-events: none;
                        /* Make sure the arrow doesn't interfere with the select */
                        color: blueviolet;
                    }
                </style>

                <div class="input-container" id="custom" >
                    <!-- Module (Dropdown) -->
                    <label for="module">Module:</label>
                    <div class="custom-select">
                        <select id="module" name="module" required>
                            <option value="" disabled selected>Select Module</option>
                            <!-- Split the subjects string by comma and create options -->
                            <script>
                                var subjectsData = '<%=subjects%>';
                                var subjects = subjectsData.split(',');
                                var selectElement = document.getElementById("module");

                                for (var i = 0; i < subjects.length; i++) {
                                    var option = document.createElement("option");
                                    option.value = subjects[i];
                                    option.text = subjects[i];
                                    selectElement.appendChild(option);
                                }
                            </script>
                        </select>
                        <span class="custom-arrow">&#9660;</span>
                    </div>
                </div>


                <div class="input-container">
                    <label for="grade">Grade:</label>
                    <input type="text" id="grade" name="grade" required><br>
                </div>
                <div class="input-container">
                    <Label>Comments</Label>
                    <input type="text" name="comment" id="body"><br>
                </div>
            </div>


            <!-- Submit Grade Entry Button -->
            <input type="submit" value="Update Grade" class="submit">
        </form>
    </div>
</body>

</html>